.App {
  background-color: rgb(221, 228, 230);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.github {
  font-size: 1.3vw;
  font-weight: bold;
  color: rgb(241, 105, 105);
}

.about {
  font-size: 1.3vw;
  font-weight: bold;
  color: rgb(241, 105, 105);
}

.homepage {
  font-size: 1.3vw;
  font-weight: bold;
  align-content: center;
  color: rgb(241, 105, 105);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}